// button
.btn {
	font-weight: 700;
	display: inline-block;
	border: 2px solid $color-purple;
	color: $color-purple;
	height: 40px;
	line-height: 36px;
	font-size: 14px;
	padding: 0 24px;
	border-radius: 50px;
	background-color: transparent;

	&:hover {
		background: $color-purple;
		color: #fff;
		text-decoration: none;
		box-shadow: 0 3px 3px rgba($color-purple,.4);
	}

	@at-root button, input[type="submit"] {
		@include transition(all .1s);
	}

	&-white {
		border-color: #fff;
		color: #fff;

		&:hover {
			background: #fff;
			color: $color;
			box-shadow: 0 3px 3px rgba($color,.4);
		}
	}

	&__search {
		position: absolute;
		height: 100%;
		padding: 0 15px;
		border: none;
		top: 0;
		right: 0;
		background-color: transparent;

		svg {
			@include transform(translate(2px, 4px));
		}

		&:hover {
			background-color: inherit;
			color: $color-purple;

			svg g {
				fill: $color-purple;
			}
		}
	}
}

button.btn {
	border: none;
}

// form
.input-group {
	position: relative;
}
.form-control {
	background: $color-bg;
	height: 50px;
	border: none;
	padding: 9px 15px;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	border-bottom: 1px solid transparent;
	@include transition(all .1s linear);

	&:focus, &:active {
		outline: 0;
		border-bottom: 1px solid $color-purple;
	}

	#searchform & {
		padding-right: 70px;
	}

	.article & {
		background-color: $color-bg;
		box-shadow: none;

		&:focus, &:active {
			background-color: lighten($color-bg,1);
			box-shadow: none;
		}
	}

	@at-root textarea.wpcf7-form-control {
		height: auto;
	}
}

textarea {
	resize: vertical;
}

