.container {
	max-width: 1300px;
	padding: 0 80px;
	margin: 0 auto;

	&--main {
		@include clearfix;
		padding-bottom: 60px;
		margin-bottom: 60px;
		background-color: #fff;
	}
}

.content {
	border-top: 1px solid $color-bg;
}

.main {
	@include calc(width, "100% - 360px");
	float: left;

	&--full {
		width: auto;
		float: none;
	}
}

.aside {
	width: 300px;
	float: right;
}

@media (max-width: $screen-sm-max) {
	.main {
		float: none;
		width: auto;
		margin-bottom: 60px;
	}

	.aside {
		width: auto;
		float: none;
	}
}

.content {
	min-height: 80vh;
}