.container {
	max-width: 1300px;
	padding: 0 60px;
	margin: 0 auto;

	&--main {
		@include clearfix;
		padding-bottom: 60px;
		margin-bottom: 60px;
		background-color: #fff;
		position: relative;
	}

	@media (max-width: $screen-xs-max) {
		padding: 0 20px;
	}
}

.content {
	border-top: 1px solid $color-bg;

	@media (min-width: $screen-md) {
		@include display(flex);
	}

}

.main {

	@media (min-width: $screen-md) {
		@include calc(width, "100% - 360px");
		padding-right: 60px;
	}

	&--full {
		width: auto;
		float: none;
	}
}

.aside {

	@media (min-width: $screen-md) {
		width: 360px;
		padding-left: 60px;
	}

	padding-top: 60px;

}

.content {
	min-height: 40vh;
}