hr {
	height: 10px;
	background: #f8f8f8;
	border: none;
	margin: $margin 0;
}

blockquote {
	background: $color-purple;
	padding: 30px;
	box-shadow: 4px 4px 0 $color-bg;
	color: #fff;

	&.with-title {
		margin-top: 50px;
	}

	.blockquote__title {
		margin-top: -50px;
		@extend .h2;
	}

	.article & {
		//box-shadow: 200px 0 0 $color-pink, -200px 0 0 $color-pink;
	}

	&.blockquote--light {
		background: $color-bg;
		color: $color;

		.article & {

			footer {
				color: $color-lighter;
				a {
					color: $color-purple;
				}
			}
		}
	}

	footer {
		margin-top: $margin/2;
		font-size: 13px;
		text-align: right;
		color: rgba(#fff, .5);

		&::before {
			content: 'Source: ';
		}

		a {
			color: #fff;
		}
	}

	cite {
		font-style: normal;

		a {
			color: #ffcdde;
		}
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

pre {
	border-top: 1px solid #eed3dc;
	white-space: pre-wrap;
	background-color: lighten($color-bg,3);
	-webkit-overflow-scrolling: touch;
	@include background-image(
		linear-gradient(to bottom,
										transparent 39px,
										#c2d4e9 39px,
										transparent 40px,
										transparent 79px,
										#eed3dc 79px
										));
	background-size: 80px 80px;
	font-family: monospace;
	line-height: 40px;
	padding: 0 20px;
	font-size: 14px;
	box-shadow: 200px 0 0 #f8f8f8, -200px 0 0 #f8f8f8;
	-moz-tab-size: 4;
  -o-tab-size:   4;
  tab-size:      4;
  margin: $margin*2 0;
}