// accessing local Roboto
// ref: https://jonsuh.com/blog/font-loading-with-font-events/


h1, h2, h3, h4, h5, h6 {
	font-family: $font-system;
	font-weight: 700;
	color: $color;

	.wf-active & {
		font-family: $font-poppins;
	}
}

h1, h2 {
	line-height: 1.3;
}
h3 {
	line-height: 1.4;
}

h1, .h1 {font-size: 36px}
h2, .h2 {font-size: 30px}
h3, .h3 {font-size: 28px}
h4, .h4 {font-size: 18px}
h5, .h5 {font-size: 16px}
h6, .h6 {font-size: 15px}
