// Font
$font-system: "Helvetica Neue", Arial, sans-serif;
$font: "Open Sans", "Helvetica Neue", Arial, sans-serif;

$font-poppins: "Poppins", "Helvetica Neue", Arial, sans-serif;


// Color
$color: #242424;
$color-lighter: #7d859f;
$color-darker: $color;
$color-pink: #e55888;
$color-bg: #eceff2;

$color-purple: #554AE1;
$color-teal: #3CDAA8;

$color-dribbble: #EA4C89;
$color-behance: #1882FF;

// number
$margin: 20px;

// mq

$screen-md 			: 992px;
$screen-sm-max 	: $screen-md - 1px;
$screen-sm 			: 768px;
$screen-xs-max	: $screen-sm - 1px;
$screen-640			: 640px;
$screen-xs			: 480px;